*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;	 }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body,html{

	font-family: "Open Sans";

}


.ibg{
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	img{display: none;}
	
}

.wrapper {
}
.header {
position: relative;
		&__list {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 30px;
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 10px;
		}

		&__link {
			color: #ffffff;
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;
			margin: 0 0 0 27px;
		}
	
		&__up {
			background-color: #424242;
		}	
		&__body {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 21px 10px 31px 10px;
		}
		&__back {
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
		}	
		&__input {
			display: flex;
			align-items: center;
			background-color: #79b260;
			height: 40px;

		}
		&__invivsible {
			font-size: 5px;
			opacity: 0;
		}	
		&__in {
		width: 328px;
		height: 33px;
		background-color: #ffffff;
		}	

		&__text {
			position: relative;
			a{color: #ffffff;
			font-size: 23px;
			line-height: 26px;

			}
			&::before{
				content:'';
				position: absolute;
				top: 0;
				left: 12px;
				width: 24px;
				height: 24px;
				background-color: #ffffff;
				background: url(../img/lupa.png) 0 0 no-repeat;
			}	
			padding: 0 16px 0 43px;
		}	

		&__logo {
		}

		&__block {
			display: flex;
		}

		&__input {

		}
	
		&__text {
		}
		@media (max-width:960px){
			&__input {
				position: absolute;
				top: 150px;
				left: 50%;
				transform: translate(-50%, 0);
			}
			&__body {
				justify-content: center;
				padding: 21px 10px 80px 10px;
			}
			&__logo {
				margin: 0 40px 0 0;
			}
		}
		@media (max-width:520px){
			&__in {
				width: 280px;

			}
			&__text {
				a{
					display: none;
				}
				display: flex;
				justify-content: center;
				align-items: center;
				&::before{
					top: -10px;
				}
			}
			&__logo {
				margin: 0 0 20px 0;
			}
			&__body {
				flex-direction: column;
			}
			&__input {
				top: 240px;
			}
		}
		@media (max-width:397px){
			&__in {
				width: 240px;
			}
			&__link {
				white-space: nowrap;
				margin: 0 0 0 10px;
			}
		}
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.block-header {

		&__body {
			border-right: 1px solid #c0c0c0;
			margin: 0 10px 0 0;
		}

		&__title {
			color: #6d6d6d;
			font-size: 23px;
			line-height: 26px;
			position: relative;
			padding: 0 0 0 36px;
			margin: 0 6px 7px 0;
			span{
			font-size: 13px;
			}
			&::before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 27px;
				height: 29px;
				background: url(../img/header__icon.png) no-repeat;
			}	
		}

		&__price {
			color: #6d6d6d;
			font-size: 27px;
			font-weight: 700;
			line-height: 26px;
			margin: 0 5px 0 0;
		}

		&__btm {
			a{
			color: #ffffff;
			font-size: 15px;
			font-weight: 400;
			line-height: 26px;
			}
			box-shadow: inset 1px 1px 0 rgba(118, 118, 118, 0.75);
			border: 1px solid #232323;
			background-image: linear-gradient(to top, #242424 0%, #424242 100%);
			padding: 6px 13px 7px 7px;
		}

		&__item {
			margin: 0 0 0 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction:column ;
		}

		&__star {
			margin: 0 0 8px 0;
		}
		&__footer {
			color: #6d6d6d;
			font-size: 21px;
			font-weight: 400;
			line-height: 26px;
			position: relative;
			&::after{
				content:'20';
				position: absolute;
				top: -30%;
				right: -10px;
				display: inline;
				background-color: #79b260;
				border-radius: 10px;
				color: #ffffff;
				font-size: 13px;
				padding: 0 5px;	
				line-height: 13px;
			}
		}	
}

.top {
height: 40px;
display: flex;
align-items: center;
border-bottom: 1px solid #dedede;
margin: 0 0 14px 0;
	&__title {
		display: none;
	}
&::before{
	content:'';
	position: absolute;
	z-index: 4;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	display: none;
}
	&__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	&__burger {
	}
	
	&__list {
		display:flex;
		justify-content: space-between;
		width: 971px;
	}

	&__link {
		color: #5b5b5b;
		font-size: 19px;
		line-height: 26px;
		padding: 7px 9px;
	}

.block-books {
	display: none;
}

	@media (max-width:980px){
		height: 0px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0;
		
		flex-direction: column;
		padding: 0 0 0 20px;
		&__burger {
			display: block;
			position: fixed;
			width: 30px;
			height:20px;
			margin: 0 0px 0 0;
			position: fixed;
			top: 50px;
			z-index: 7;
			animation-name: burger;
			animation-duration: 1s;
			span{
				position: absolute;
				background-color: black;
				left:0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;

			}
		}
		.top__burger:before,
		.top__burger:after{
			content: '';
			background-color: black;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		.top__burger:before{
			top: 0;
		}
		.top__burger:after{
			bottom: 0;
		}
		.top__burger.active{
			span{
				transform: scale(0);
			}
		}
		.top__burger.active:before{
			transform: rotate(45deg);
			top: 9px;
			
		}
		.top__burger.active:after{
			transform: rotate(-45deg);
			bottom: 9px;
		}
		.top__menu{
			position: fixed;
			top:0;
			left:-100%;
			width: 70%;
			height: 100%;
			z-index: 4;
			background-color: #ffffff;
			padding: 80px 10px 20px 10px;
			transition: 1s ease 0s;
			overflow: auto;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			&.active{
				left: 0;				
			}
		}	
		&__title {
			color: #6b6969;
			font-size: 24px;
			font-weight: 300;
			line-height: 30px;
			padding: 0 0 0 18px;
			display: block;
		}
		&__list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: auto;
			margin: 10px 0 0 0;
			padding: 0 0 0 50px;
			width: 100%;
			margin-bottom: 20px;
			li{
				padding: 0 0 20px 0;
				margin: 0;
				width: 100%;
			}
			
		}
		&__link {
			font-size: 22px;
			margin: 0 0 0px 0;
			border-bottom:1px solid #d8dce0 ;
			width: 100%;
			display: block;
		}
		.active-top {
			background-image: none;
			color: #5b5b5b;
		}
		@media (max-width:600px){
			&__list {
				padding: 0 0 0 30px;
			}
		}
		@media (max-width:450px){
			&__list {
				padding: 0 0 0 10px;
			}
			.top__menu{
				width: 80%;
			}
			&__title {
				padding: 0 0 0px 0;
			}
		}
		.block-books {
			display: block;
			flex: 0 1 auto;
			width: 100%;
			border: none;
			padding: 0;
			&__list {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				width: auto;
				margin: 10px 0 0 0;
				padding: 0 0 0 50px;
				width: 100%;
				li{
					padding: 0 0 20px 0;
					margin: 0;
					width: 100%;
				}	
			}
			&__link {
			font-size: 22px;
			margin: 0 0 15px 0;
			padding: 0 0 0 20px;
			border-bottom:1px solid #d8dce0 ;
			width: 100%;
			display: block;
			}
			.active-books {
				color: black;
			}
			&__sublink {
				font-size: 20px;
				padding: 0 0 0 40px;
			}
			@media (max-width:600px){
				&__sublink {
					padding: 0 0 0 30px;
				}
				&__list {
					padding: 0 0 0 30px;
				}
			}
			@media (max-width:450px){
				&__list {
					padding: 0 0 0 8px;
				}
				&__link {
					padding: 0 0 0 10px;
				}
				&__title {
					padding: 0;
				}
			}
		}
	}
}
@media (max-width:980px){
	body.lock{
		overflow: hidden;
	}
}
.container {
}
.active-top {
	color: #ffffff;
	background-image: linear-gradient(to top, #79b260 0%, #92d774 100%);
}
.banners {
margin: 0 0 14px 0;
	&__row {
		display: flex;
		max-width: 997px;
		margin: 0 auto;
	}

	&__slider {
		flex: 0 1 66.667%;
		margin: 0 13px 0 0;
		
	}

	&__img {
		flex: 0 1 33.333%;
	}
	@media (max-width:895px){
		&__row {
			flex-direction: column;
		}
		&__img {
			display: none;
		}
		&__slider {
			flex: 0 1 auto;
		}
	}
}

.slider-banners {
min-width: 0;
position: relative;
	&__body {
		position: relative;
	}

	&__img {

	}

	&__item {
		position: absolute;
		top: 41px;
		display: flex;
		left: 60px;
	}

	&__icons {
		position: relative;
		margin: 0 94px 0 0;
		&_2 {
			position: absolute;
			top:110px;
			left:  93px;
		}
	}
	&__text {
		padding: 89px 0px 0 0;
		text-align: center;
	}

	&__title {
		font-size: 40px;
		font-weight: 700;
		color: #ffffff;
	}

	&__subtitle {
		color: #ffffff;
		font-size: 25px;
		line-height: 28px;
	}

	&__subsubtitle {
		color: #ffffff;
		font-size: 21px;
		font-weight: 700;
		line-height: 28px;
	}
	& .slick-arrow{
		display: flex;
		position: absolute;
		top: 134px;
		z-index: 2;
		font-size: 0;
		width: 16px;
		height: 24px;
	}
	& .slick-arrow.slick-prev{
		left: 21px;
		background: url(../img/slider__icon2.png);;
	}
	& .slick-arrow.slick-next{
		right: 21px ;
		background: url(../img/slider__icon1.png);;
	}
	.slick-list {
		overflow: hidden;
	}
	/* Лента слайдов */
	.slick-track{
		display: flex;
	
	}
	@media (max-width:895px){
		width: 100%;
		&__body {
			position: relative;

		}
		&__img {
			img{
				width: 100%;
				min-height: 280px;
			}
		}
	}
	@media (max-width:583px){
		&__text {
			display: none;
		}

	}
}
.books {
margin-bottom: 25px;
	&__row {
		display: flex;
	}

	&__block {
		flex: 0 1 15.7%;
	}

	&__item {
		flex: 0 1 84.3%;
	}
	@media (max-width:980px){
		&__block {
			display: none;
		}
	}
}

.block-books {
margin: 0 10px 0 0;
padding: 11px 0 0 0;
border: 1px solid rgba(0, 0, 1, 0.16);
	&__title {
		color: #6b6969;
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		padding: 0 0 0 18px;
	}

	&__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	&__arrow {

	}
	&__list {
		width: 100%;
	}

	&__link {
		display: block;
		width: 100%;
		color: #525252;
		font-size: 17px;
		font-weight: 700;
		line-height: 31.67px;
		white-space: nowrap;
		padding: 0 20px;
	}

	&__sublist {
		padding: 0 0 0 5px;
		
	}

	&__sublink {
		color: #555454;
		font-size: 15px;
		line-height: 26.67px;
		padding: 0 24px;
		border-bottom:1px solid #d8dce0 ;
		
		display: block;
	}

}
.active-books {
	color: #ffffff;
}



.item-books {
	padding: 8px 0 0 0;
	&__wrapper {
		border: 1px solid #d8dce0;
		padding: 25px 0 0 0;
	}
	&__list {
		display:flex;
		margin-bottom: 6px;
	}

	&__link {
		text-shadow: 1px 1px 0 #ffffff;
		color: #6b6969;
		font-size: 17px;
		font-weight: 300;
		line-height: 30px;
		padding: 10px 26px;
		background-color: #ebebeb;
		border: 1px solid #d8dce0;
		border-radius: 2px;
		border-bottom: none;
	}

	&__row {
		display: flex;
		padding: 0 0px 0 29px;
		align-items: baseline;
		margin-bottom: 25px;
	}

	&__body {
		flex: 0 1 20%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		&_1 {
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
		}

		&_5 {
		}
	}

	&__img {
	}

	&__title {
		color: #595959;
		font-size: 15px;
		line-height: 16px;
		text-align: center;

		margin-bottom: 7px;
		white-space: nowrap;
	}

	&__price {
		color: #f05356;
		font-size: 22px;
		line-height: 20px;
	}

	&__buttoms {
		display: flex;
		justify-content: flex-end;
		padding: 0 29px 9px 0;
	}

	&__buttom {
		margin: 0 0 0 18px;
		
		color: #646464;
		font-family: "Helvetica LT Std";
		font-size: 16px;
		font-weight: 300;
		line-height: 30px;
	}
	@media (max-width:1100px){
		&__body {
			&_5 {
				display: none
			}
		}
	}
	@media (max-width:980px){
		max-width: 980px;
		margin: 0 auto;
		&__body {
			&_5 {
				display: block;
			}
		}
		&__link {
			padding: 10px 19px;
		}
	}
	@media (max-width:880px){
		&__body {
			&_5 {
				display: none;
			}
		}
	}
	@media (max-width:710px){
		&__body {
			&_4 {
				display: none;
			}
		}
		&__link {
			padding: 10px 10px;
		}
		&__row {
			padding: 0 0 0 10px;
		}
	}
	@media (max-width:520px){
		&__body {
			&_3 {
				display: none;
			}
		}
		&__link {
			padding: 10px 5px;
			white-space: nowrap;
		}
		&__row {
			padding: 0 0 0 0px;
		}
	}
	@media (max-width:450px){
		&__link {
			font-size: 14px;
			padding: 10px 2px;
		}
	}
	@media (max-width:350px){
		&__link {
			font-size: 13px;
		}
	}
}
.active-link {
	color: #464646;
	background-color: #ffffff;
	border-bottom: none;
}
.discount {
	position: relative;
	&::after{
		content: '30% ';
		position: absolute;
		top: 0;
		right: -7px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f05356;
		color: #ffffff;
		font-size: 19px;
		font-weight: 700;
		line-height: 26px;
		border-radius: 50%;
		
	}
}

.footer {
background-color:#3e3d3e ;	
padding: 25px 10px 30px 10px;
	
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 25%;
	}
	@media (max-width:767px){
		&__row {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.M {
	max-width: 996px;
	margin: 0 auto;
}
.column-footer {
	&:last-child{
		.column-footer__list{
		margin: 0;
		}
	}
	&_1 {
		flex: 0 1 28%;
	}

	&_2 {
		flex: 0 1 28%
	}

	&_3 {
		flex: 0 1 28%
	}

	&_4 {
		flex: 0 1 16%;
	}
	&__title {
		color: #dddddd;
		font-size: 20px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 23px;
	}

	&__list {
		margin: 0 90px 0 0;

	}

	&__link {
		display: block;
		opacity: 1;
		color: #777773;
		font-family: "Segoe WP";
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		border-bottom: 1px solid #777773;
	}
	@media (max-width:767px){
		margin-bottom: 30px;
		&__list {
			margin: 0;
		}
		&__link {
			font-size: 20px;
		}
		&__title {
			font-size: 22px;
		}
	}
}
.product {
padding: 10px 10px;
margin-bottom: 14px;
	&__row {
		display: flex;
		border: 1px solid #dedede;
		padding: 28px 0 29px 0;
	}

	&__img {
		flex: 0 1 33.333%;
		padding: 0 0 0 31px;
		img{

		}
	}

	&__body {
		flex: 0 1 66.667%;
		padding: 0 10px;
	}

	&__title {
		color: #595959;
		font-size: 41px;
		font-weight: 300;
		line-height: 21.73px;
		margin-bottom: 30px;
		padding: 10px 0 0 0;
	}

	&__text {
		color: #7e7e7e;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		max-width: 616px;
		margin-bottom: 24px;
	}

	&__item {
	}
	@media (max-width:830px){
		&__row {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__img {
			flex: 0 1 auto;
		}
		&__body {
			flex: 0 1 auto;
		}
		&__title {
			text-align: center;
		}
		&__img {
			padding: 0 0 0 0;
		}
	}
	@media (max-width:410px){
		&__title {
			font-size: 30px;
		}
	}
}
.container {
}
.M {
}
.item-product {
	display: flex;
	justify-content: space-between;
	max-width: 609px;
	border: 1px solid rgba(181, 176, 176, 0.57);
	&__body {
		padding: 17px 0 12px 26px;
	}

	&__price {
		/* Style for "Our price" */
		width: 249px;
		height: 38px;
		color: #015699;
		font-family: "Segoe WPN";
		font-size: 36px;
		font-weight: 400;
		line-height: 28.1px;
		span{
		color: #e45858;
		font-weight: 700;
		}
	}

	&__discount {
		color: #939292;
		font-size: 17px;
		font-weight: 400;
		line-height: 17px;
		padding: 0 0 0 5px;
		margin-bottom: 24px;
	}

	&__line {

	}

	&__footer {
		color: #939292;
		font-family: "Helvetica Neue CE - Roman";
		font-size: 15px;
		font-weight: 400;
		line-height: 27px;
	}

	&__icons {
		img{
			margin: 0 8px 0 0;
		}
	}

	&__btm {
		a{
			color: #ffffff;
			font-size: 24px;
			font-weight: 700;
			line-height: 20.33px;
		}
		display: inline-block;
		background-image: linear-gradient(to top, #79b260 0%, #92d774 100%);
		padding: 0px 30px;
		height: 42px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		top: 25px;
		right: 31px;
	}
	@media (max-width:550px){
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__btm {
			top: 0px;
			right: 0px;
			max-width: 320px;
		}
	}
}

.about {

	&__row {
		display: flex;
	}

	&__item {
		flex: 0 1 75%;
		margin: 0 16px 0 0;
	}

	&__information {
	}

	&__review {
	}

	&__comment {
	}

	&__column {
		flex: 0 1 25%;
	}
	@media (max-width:800px){
		&__row {
			flex-direction: column;
		}
		&__column {
			flex: 0 1 auto;
		}
		&__item {
			flex: 0 1 auto;
			margin: 0 0 0 0;
		}	
	}
}

.information-about {
padding: 0 0 0 20px;
margin-bottom: 15px;
	&__title {
		color: #7e7e7e;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 20px;
	}

	&__text {
		/* Style for "The Star W" */
		max-width: 651px;
		color: #7e7e7e;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
	}
}
.review-about {
	border: 1px solid rgba(181, 176, 176, 0.57);
	padding: 17px 0 29px 26px;
	margin-bottom: 30px;
margin: 0 0 30px 10px;
	&__title {
		color: #7e7e7e;
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 18px;
	}

	&__row {
		display: flex;
	}

	&__body {
		margin: 0 15px 0 0;
	}

	&__img {
	}

	&__name {
		color: #a2a2a2;
		font-family: "Segoe UI Symbol";
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		text-align: center;
	}

	&__text {
		max-width: 580px;
		color: #7e7e7e;
		font-size: 13px;
		line-height: 21px;
	}
	@media (max-width:800px){
		margin: 0 10px 30px 10px;
	}
}
.comment-about {
padding: 21px 0 0 0;
	&__title {
		color: #7e7e7e;
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 25px;
	}

	&__input {
		display: flex;
		flex-direction: column;
		margin: 0 10px 0 0;
	}

	&__text {
		width: 545px;
		height: 29px;
		border: 1px solid #e2e2e2;
		background-color: #ffffff;
		padding: 5px;
		color: #a2a2a2;
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 14px;
	}

	&__btm {
		color: #ffffff;
		font-family: "Helvetica LT Std";
		font-size: 18px;
		font-weight: 700;
		line-height: 20.33px;
		width: 97px;
		height: 38px;
		background-image: linear-gradient(to top, #79b260 0%, #92d774 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	@media (max-width:610px){
		&__text {
		width: 400px;
		}
	}
	@media (max-width:470px){
		&__text {
			width: 280px;
			}	
	}
	@media (max-width:380px){
		&__text {
			width: 250px;
			}	
	}
}
.B {
	height: 127px;
}
.column-about {
	border: 1px solid #dedede;
	padding: 15px 10px 0 0;
	margin-bottom: 30px;
	&:last-child{
		.column-about__item{
			border-bottom: none;
		}
	}
	&__title {
		color: #7e7e7e;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		padding: 0 0 0 7px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content:center;
		border-bottom:1px solid #dedede ;
		&_1 {
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
		}

		&_5 {
		}

		&_6 {
		}

		&_7 {
		}
	}
	&__img {
	}

	&__body {
	}

	&__text {
		color: #595959;
		font-size: 15px;
		font-weight: 400;
		line-height: 16px;
		margin-bottom: 6px;
	}

	&__price {
		color: #f05356;
		font-size: 22px;
		line-height: 20px;
		margin-bottom: 15px;
	}

	&__btm {
		color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		line-height: 16px;
		padding: 2px 5px;
		background-color: #595959;
		border-radius: 5px;
	}
	@media (max-width:800px){
		&__row {
			display: flex;
		}	
		&__item {
			flex-direction: column;
		}	
		&__text {
			text-align: center;
		}
		&__price {
			text-align: center;
		}
		&__btm {

		}
	}
	@media (max-width:672px){
		&__item {
			&_7 {
				display: none;
			}
		}
	}
	@media (max-width:560px){
		&__item {
			&_6 {
				display: none;
			}
		}
	}
	@media (max-width:470px){
		&__item {
			&_5 {
				display: none;
			}
		}
	}
	@media (max-width:380px){
		&__item {
			&_4 {
				display: none;
			}
		}
	}
}
