@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body, html {
  font-family: "Open Sans";
}

.ibg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.ibg img {
  display: none;
}

.header {
  position: relative;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 0 27px;
}

.header__up {
  background-color: #424242;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 10px 31px 10px;
}

.header__back {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.08)), to(rgba(255, 255, 255, 0.08)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
}

.header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #79b260;
  height: 40px;
}

.header__invivsible {
  font-size: 5px;
  opacity: 0;
}

.header__in {
  width: 328px;
  height: 33px;
  background-color: #ffffff;
}

.header__text {
  position: relative;
  padding: 0 16px 0 43px;
}

.header__text a {
  color: #ffffff;
  font-size: 23px;
  line-height: 26px;
}

.header__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 12px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  background: url(../img/lupa.png) 0 0 no-repeat;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 960px) {
  .header__input {
    position: absolute;
    top: 150px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .header__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 21px 10px 80px 10px;
  }
  .header__logo {
    margin: 0 40px 0 0;
  }
}

@media (max-width: 520px) {
  .header__in {
    width: 280px;
  }
  .header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__text a {
    display: none;
  }
  .header__text::before {
    top: -10px;
  }
  .header__logo {
    margin: 0 0 20px 0;
  }
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__input {
    top: 240px;
  }
}

@media (max-width: 397px) {
  .header__in {
    width: 240px;
  }
  .header__link {
    white-space: nowrap;
    margin: 0 0 0 10px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.block-header__body {
  border-right: 1px solid #c0c0c0;
  margin: 0 10px 0 0;
}

.block-header__title {
  color: #6d6d6d;
  font-size: 23px;
  line-height: 26px;
  position: relative;
  padding: 0 0 0 36px;
  margin: 0 6px 7px 0;
}

.block-header__title span {
  font-size: 13px;
}

.block-header__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 29px;
  background: url(../img/header__icon.png) no-repeat;
}

.block-header__price {
  color: #6d6d6d;
  font-size: 27px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 5px 0 0;
}

.block-header__btm {
  -webkit-box-shadow: inset 1px 1px 0 rgba(118, 118, 118, 0.75);
          box-shadow: inset 1px 1px 0 rgba(118, 118, 118, 0.75);
  border: 1px solid #232323;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#242424), to(#424242));
  background-image: linear-gradient(to top, #242424 0%, #424242 100%);
  padding: 6px 13px 7px 7px;
}

.block-header__btm a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.block-header__item {
  margin: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-header__star {
  margin: 0 0 8px 0;
}

.block-header__footer {
  color: #6d6d6d;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
}

.block-header__footer::after {
  content: '20';
  position: absolute;
  top: -30%;
  right: -10px;
  display: inline;
  background-color: #79b260;
  border-radius: 10px;
  color: #ffffff;
  font-size: 13px;
  padding: 0 5px;
  line-height: 13px;
}

.top {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dedede;
  margin: 0 0 14px 0;
}

.top__title {
  display: none;
}

.top::before {
  content: '';
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 971px;
}

.top__link {
  color: #5b5b5b;
  font-size: 19px;
  line-height: 26px;
  padding: 7px 9px;
}

.top .block-books {
  display: none;
}

@media (max-width: 980px) {
  .top {
    height: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 20px;
  }
  .top__burger {
    display: block;
    position: fixed;
    width: 30px;
    height: 20px;
    margin: 0 0px 0 0;
    position: fixed;
    top: 50px;
    z-index: 7;
    -webkit-animation-name: burger;
            animation-name: burger;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .top__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .top .top__burger:before,
  .top .top__burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .top .top__burger:before {
    top: 0;
  }
  .top .top__burger:after {
    bottom: 0;
  }
  .top .top__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .top .top__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .top .top__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .top .top__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    z-index: 4;
    background-color: #ffffff;
    padding: 80px 10px 20px 10px;
    -webkit-transition: 1s ease 0s;
    transition: 1s ease 0s;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top .top__menu.active {
    left: 0;
  }
  .top__title {
    color: #6b6969;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    padding: 0 0 0 18px;
    display: block;
  }
  .top__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: auto;
    margin: 10px 0 0 0;
    padding: 0 0 0 50px;
    width: 100%;
    margin-bottom: 20px;
  }
  .top__list li {
    padding: 0 0 20px 0;
    margin: 0;
    width: 100%;
  }
  .top__link {
    font-size: 22px;
    margin: 0 0 0px 0;
    border-bottom: 1px solid #d8dce0;
    width: 100%;
    display: block;
  }
  .top .active-top {
    background-image: none;
    color: #5b5b5b;
  }
}

@media (max-width: 980px) and (max-width: 600px) {
  .top__list {
    padding: 0 0 0 30px;
  }
}

@media (max-width: 980px) and (max-width: 450px) {
  .top__list {
    padding: 0 0 0 10px;
  }
  .top .top__menu {
    width: 80%;
  }
  .top__title {
    padding: 0 0 0px 0;
  }
}

@media (max-width: 980px) {
  .top .block-books {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    border: none;
    padding: 0;
  }
  .top .block-books__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: auto;
    margin: 10px 0 0 0;
    padding: 0 0 0 50px;
    width: 100%;
  }
  .top .block-books__list li {
    padding: 0 0 20px 0;
    margin: 0;
    width: 100%;
  }
  .top .block-books__link {
    font-size: 22px;
    margin: 0 0 15px 0;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #d8dce0;
    width: 100%;
    display: block;
  }
  .top .block-books .active-books {
    color: black;
  }
  .top .block-books__sublink {
    font-size: 20px;
    padding: 0 0 0 40px;
  }
}

@media (max-width: 980px) and (max-width: 600px) {
  .top .block-books__sublink {
    padding: 0 0 0 30px;
  }
  .top .block-books__list {
    padding: 0 0 0 30px;
  }
}

@media (max-width: 980px) and (max-width: 450px) {
  .top .block-books__list {
    padding: 0 0 0 8px;
  }
  .top .block-books__link {
    padding: 0 0 0 10px;
  }
  .top .block-books__title {
    padding: 0;
  }
}

@media (max-width: 980px) {
  body.lock {
    overflow: hidden;
  }
}

.active-top {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#79b260), to(#92d774));
  background-image: linear-gradient(to top, #79b260 0%, #92d774 100%);
}

.banners {
  margin: 0 0 14px 0;
}

.banners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 997px;
  margin: 0 auto;
}

.banners__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  margin: 0 13px 0 0;
}

.banners__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 895px) {
  .banners__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banners__img {
    display: none;
  }
  .banners__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.slider-banners {
  min-width: 0;
  position: relative;
  /* Лента слайдов */
}

.slider-banners__body {
  position: relative;
}

.slider-banners__item {
  position: absolute;
  top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 60px;
}

.slider-banners__icons {
  position: relative;
  margin: 0 94px 0 0;
}

.slider-banners__icons_2 {
  position: absolute;
  top: 110px;
  left: 93px;
}

.slider-banners__text {
  padding: 89px 0px 0 0;
  text-align: center;
}

.slider-banners__title {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.slider-banners__subtitle {
  color: #ffffff;
  font-size: 25px;
  line-height: 28px;
}

.slider-banners__subsubtitle {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
}

.slider-banners .slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 134px;
  z-index: 2;
  font-size: 0;
  width: 16px;
  height: 24px;
}

.slider-banners .slick-arrow.slick-prev {
  left: 21px;
  background: url(../img/slider__icon2.png);
}

.slider-banners .slick-arrow.slick-next {
  right: 21px;
  background: url(../img/slider__icon1.png);
}

.slider-banners .slick-list {
  overflow: hidden;
}

.slider-banners .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 895px) {
  .slider-banners {
    width: 100%;
  }
  .slider-banners__body {
    position: relative;
  }
  .slider-banners__img img {
    width: 100%;
    min-height: 280px;
  }
}

@media (max-width: 583px) {
  .slider-banners__text {
    display: none;
  }
}

.books {
  margin-bottom: 25px;
}

.books__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.books__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15.7%;
          flex: 0 1 15.7%;
}

.books__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 84.3%;
          flex: 0 1 84.3%;
}

@media (max-width: 980px) {
  .books__block {
    display: none;
  }
}

.block-books {
  margin: 0 10px 0 0;
  padding: 11px 0 0 0;
  border: 1px solid rgba(0, 0, 1, 0.16);
}

.block-books__title {
  color: #6b6969;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 0 0 18px;
}

.block-books__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-books__list {
  width: 100%;
}

.block-books__link {
  display: block;
  width: 100%;
  color: #525252;
  font-size: 17px;
  font-weight: 700;
  line-height: 31.67px;
  white-space: nowrap;
  padding: 0 20px;
}

.block-books__sublist {
  padding: 0 0 0 5px;
}

.block-books__sublink {
  color: #555454;
  font-size: 15px;
  line-height: 26.67px;
  padding: 0 24px;
  border-bottom: 1px solid #d8dce0;
  display: block;
}

.active-books {
  color: #ffffff;
}

.item-books {
  padding: 8px 0 0 0;
}

.item-books__wrapper {
  border: 1px solid #d8dce0;
  padding: 25px 0 0 0;
}

.item-books__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.item-books__link {
  text-shadow: 1px 1px 0 #ffffff;
  color: #6b6969;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  padding: 10px 26px;
  background-color: #ebebeb;
  border: 1px solid #d8dce0;
  border-radius: 2px;
  border-bottom: none;
}

.item-books__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0px 0 29px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 25px;
}

.item-books__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-books__title {
  color: #595959;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 7px;
  white-space: nowrap;
}

.item-books__price {
  color: #f05356;
  font-size: 22px;
  line-height: 20px;
}

.item-books__buttoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 29px 9px 0;
}

.item-books__buttom {
  margin: 0 0 0 18px;
  color: #646464;
  font-family: "Helvetica LT Std";
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

@media (max-width: 1100px) {
  .item-books__body_5 {
    display: none;
  }
}

@media (max-width: 980px) {
  .item-books {
    max-width: 980px;
    margin: 0 auto;
  }
  .item-books__body_5 {
    display: block;
  }
  .item-books__link {
    padding: 10px 19px;
  }
}

@media (max-width: 880px) {
  .item-books__body_5 {
    display: none;
  }
}

@media (max-width: 710px) {
  .item-books__body_4 {
    display: none;
  }
  .item-books__link {
    padding: 10px 10px;
  }
  .item-books__row {
    padding: 0 0 0 10px;
  }
}

@media (max-width: 520px) {
  .item-books__body_3 {
    display: none;
  }
  .item-books__link {
    padding: 10px 5px;
    white-space: nowrap;
  }
  .item-books__row {
    padding: 0 0 0 0px;
  }
}

@media (max-width: 450px) {
  .item-books__link {
    font-size: 14px;
    padding: 10px 2px;
  }
}

@media (max-width: 350px) {
  .item-books__link {
    font-size: 13px;
  }
}

.active-link {
  color: #464646;
  background-color: #ffffff;
  border-bottom: none;
}

.discount {
  position: relative;
}

.discount::after {
  content: '30% ';
  position: absolute;
  top: 0;
  right: -7px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f05356;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 26px;
  border-radius: 50%;
}

.footer {
  background-color: #3e3d3e;
  padding: 25px 10px 30px 10px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 767px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.M {
  max-width: 996px;
  margin: 0 auto;
}

.column-footer:last-child .column-footer__list {
  margin: 0;
}

.column-footer_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.column-footer_2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.column-footer_3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.column-footer_4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16%;
          flex: 0 1 16%;
}

.column-footer__title {
  color: #dddddd;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 23px;
}

.column-footer__list {
  margin: 0 90px 0 0;
}

.column-footer__link {
  display: block;
  opacity: 1;
  color: #777773;
  font-family: "Segoe WP";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  border-bottom: 1px solid #777773;
}

@media (max-width: 767px) {
  .column-footer {
    margin-bottom: 30px;
  }
  .column-footer__list {
    margin: 0;
  }
  .column-footer__link {
    font-size: 20px;
  }
  .column-footer__title {
    font-size: 22px;
  }
}

.product {
  padding: 10px 10px;
  margin-bottom: 14px;
}

.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dedede;
  padding: 28px 0 29px 0;
}

.product__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 0 0 31px;
}

.product__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  padding: 0 10px;
}

.product__title {
  color: #595959;
  font-size: 41px;
  font-weight: 300;
  line-height: 21.73px;
  margin-bottom: 30px;
  padding: 10px 0 0 0;
}

.product__text {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 616px;
  margin-bottom: 24px;
}

@media (max-width: 830px) {
  .product__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .product__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .product__title {
    text-align: center;
  }
  .product__img {
    padding: 0 0 0 0;
  }
}

@media (max-width: 410px) {
  .product__title {
    font-size: 30px;
  }
}

.item-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 609px;
  border: 1px solid rgba(181, 176, 176, 0.57);
}

.item-product__body {
  padding: 17px 0 12px 26px;
}

.item-product__price {
  /* Style for "Our price" */
  width: 249px;
  height: 38px;
  color: #015699;
  font-family: "Segoe WPN";
  font-size: 36px;
  font-weight: 400;
  line-height: 28.1px;
  white-space: nowrap;
}

.item-product__price span {
  color: #e45858;
  font-weight: 700;
}

.item-product__discount {
  color: #939292;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  padding: 0 0 0 5px;
  margin-bottom: 24px;
}

.item-product__footer {
  color: #939292;
  font-family: "Helvetica Neue CE - Roman";
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}

.item-product__icons img {
  margin: 0 8px 0 0;
}

.item-product__btm {
  display: inline-block;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#79b260), to(#92d774));
  background-image: linear-gradient(to top, #79b260 0%, #92d774 100%);
  padding: 0px 30px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 25px;
  right: 31px;
}

.item-product__btm a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 20.33px;
}

@media (max-width: 550px) {
  .item-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-product__btm {
    top: 0px;
    right: 0px;
    max-width: 320px;
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  margin: 0 16px 0 0;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 800px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 0 0 0;
  }
}

.information-about {
  padding: 0 0 0 20px;
  margin-bottom: 15px;
}

.information-about__title {
  color: #7e7e7e;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}

.information-about__text {
  /* Style for "The Star W" */
  max-width: 651px;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.review-about {
  border: 1px solid rgba(181, 176, 176, 0.57);
  padding: 17px 0 29px 26px;
  margin-bottom: 30px;
  margin: 0 0 30px 10px;
}

.review-about__title {
  color: #7e7e7e;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 18px;
}

.review-about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-about__body {
  margin: 0 15px 0 0;
}

.review-about__name {
  color: #a2a2a2;
  font-family: "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.review-about__text {
  max-width: 580px;
  color: #7e7e7e;
  font-size: 13px;
  line-height: 21px;
}

@media (max-width: 800px) {
  .review-about {
    margin: 0 10px 30px 10px;
  }
}

.comment-about {
  padding: 21px 0 0 0;
}

.comment-about__title {
  color: #7e7e7e;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 25px;
}

.comment-about__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px 0 0;
}

.comment-about__text {
  width: 545px;
  height: 29px;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
  padding: 5px;
  color: #a2a2a2;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 14px;
}

.comment-about__btm {
  color: #ffffff;
  font-family: "Helvetica LT Std";
  font-size: 18px;
  font-weight: 700;
  line-height: 20.33px;
  width: 97px;
  height: 38px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#79b260), to(#92d774));
  background-image: linear-gradient(to top, #79b260 0%, #92d774 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 610px) {
  .comment-about__text {
    width: 400px;
  }
}

@media (max-width: 470px) {
  .comment-about__text {
    width: 280px;
  }
}

@media (max-width: 380px) {
  .comment-about__text {
    width: 250px;
  }
}

.B {
  height: 127px;
}

.column-about {
  border: 1px solid #dedede;
  padding: 15px 10px 0 0;
  margin-bottom: 30px;
}

.column-about:last-child .column-about__item {
  border-bottom: none;
}

.column-about__title {
  color: #7e7e7e;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 0 0 7px;
}

.column-about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #dedede;
}

.column-about__text {
  color: #595959;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 6px;
}

.column-about__price {
  color: #f05356;
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 15px;
  white-space: nowrap;
}

.column-about__btm {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  padding: 2px 5px;
  background-color: #595959;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .column-about {
    border-bottom: none;
  }
  .column-about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .column-about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-about__text {
    text-align: center;
  }
  .column-about__price {
    text-align: center;
  }
  .column-about__btm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 672px) {
  .column-about__item_7 {
    display: none;
  }
}

@media (max-width: 560px) {
  .column-about__item_6 {
    display: none;
  }
}

@media (max-width: 470px) {
  .column-about__item_5 {
    display: none;
  }
}

@media (max-width: 380px) {
  .column-about__item_4 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */